body{
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;     
    -o-user-select: none;
    user-select: none;
    }
.header {
    z-index: 100;
    border-bottom: 1px solid #d1d8e4;
    background: #fff;
}
.column {
    width: 100%;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
.column {
    width: 50%;
}
.img-top {
    height: auto !important;
}
}
@media (min-width: 1025px) {
.column {
    width: 20%;
}

}

.bg {
    background: #fff !important;
}
footer {
    border-top:1px solid #c4c5c4;
    clear: both;
    margin-top: 5%;
    text-align: center;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.btn-success {
    color: #fff;
    background-color: #A9C965 !important;
    border-color: #A9C965 !important;
    border-radius: none !important;
    width: 5em;;
}

/* //menu */
.nav {
    background: #A9C965 !important;
    width: 100%;
    height: 6em;
}

.banner1 {
    width: 100%;
}
.banner2 {
    width: 100%;
    margin-top:1em;
}

.form-control {
    line-height: 2.5 !important;
}
.btn {
    border-radius:none !important;
    border-color: #A9C965 !important;
}
.img-top {
    border: 1px solid #A9C965 !important;
    text-align: center;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:2%;
    padding-right:2%;
    float: left;
    height: 10em;
}


.content {
    margin-left:4%;
    margin-right: 4%;
}

.active {
    background: #A9C965;
    color: #fff !important;
}
.active_text {
    color:#fff;
    text-decoration: none !important;
    font-size: 17px;
}
.active_not {
    color:#000;
    text-decoration: none !important;
    font-size: 17px;

}
.input-group {
    padding-left:0 !important;
}
.navbar-light .navbar-brand {
    color: #fff !important;
    font-size: 35px !important;
}
.content_text {
    margin-top:2%;
}
.chapter {
    color:#0071BC;
    font-size: 14px;
}
.part {
    color:#83A028;
}
.imgg {
    display: block;
}
.label-info {
    background-color: #5bc0de;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.iterm {
    margin-bottom: 1%;
}
.title { 
    color: #999999;
    font-weight: bold;
    font-size: 24px;
}
.title2 { 
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #495057;
    text-decoration: none !important;
}
.tag {
    color: #0071BC;
    font-size: 14px;
}
.img-thumbnail {
    width: 18%;
}
a {
    color: #999 !important;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}